<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>马面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
    <div th:fragment="foot">
        <div class="copyright">
            <p>
                <a href="http://www.mamian.net/">www.mamian.net</a>
                <a href="http://www.miibeian.gov.cn/" target="_blank" style="margin-left:10px">京ICP备15014219号</a>
            </p>
        </div>
        <div class="copyright">
            <p>
                © 2016&nbsp;&nbsp;马面&nbsp;&nbsp;All Rights Reserved
            </p>
        </div>
    </div>
</body>
</html>