<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>马面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/semantic.min.css}" />
    <script type="text/javascript" th:src="@{/semantic/semantic.min.js}" />
</head>
<body>
<div th:fragment="head">
    <div class="copyright">
        welcome
    </div>
</div>
</body>
</html>