<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>马面</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
        <!-- <link rel="shortcut icon"href="favicon.ico" type="image/x-icon">  -->
    </head>
    <body>
        <div th:include="/fragment/header :: head"></div>
        <div class="content">
            <img th:src="@{/img/logo.png}" alt="logo" class="logo"/>
        </div>
        <div th:include="/fragment/footer :: foot"></div>
    </body>
</html>